.header {
    z-index: 2;
    width: 100vw;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $darkLight;
    @include Desktop {
        padding: 16px 48px;
    }
    &__logo {
        z-index: 2;
        height: 28px;
    }
    &__cta {
        z-index: 2;
        display: flex;
        &__account {
            background-color: transparent;
            margin-left: 8px;
            border: none;
            height: 44px;
            width: 44px;
            border-radius: 4px;
            &--icon {
                color: $white;
                height: 24px;
            }
        }
        &__search {
            background-color: transparent;
            border: none;
            height: 44px;
            width: 44px;
            border-radius: 4px;
            &--icon {
                color: $white;
                height: 24px;
            }
        }
        &__close {
            z-index: 2;
            background-color: $darkLight;
            border: none;
            height: 44px;
            width: 44px;
            &--icon {
                color: $white;
                height: 24px;
            }
        }
    }
    &__searchfield {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100vw;
        padding: 62px 20px 24px 20px;
        background-color: $darkLight;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__bar {
            width: 100%;
        }
    }
    &__searchfieldnull {
        display: none;
    }
}