.header {
    width: 100vw;
    box-sizing: border-box;
    padding: 24px 16px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    &__logo {
        height: 32px;
    }
    &__burger {
        background-color: $dark;
        border: solid 2px $darkLight;
        height: 44px;
        width: 44px;
        border-radius: 4px;
    }
    &__navnull {
        display: none;
    }
    &__search {
        display: none;
    }
}