//Settings
@import './settings/colors.scss';
@import './settings/fonts.scss';
@import './settings/mediaQueries.scss';

//Pages
@import '../pages/homepage.scss';

//Components
@import '../components/header/header.scss';
@import '../components/hero/hero.scss';

//Atoms
@import '../components/atoms/searchbar/searchbar.scss';
@import '../components/atoms/heroCarousel/heroCarousel.scss';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
